@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* 深色背景 */
  color: white;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
/* 强制像素化渲染，防止浏览器模糊处理 */
.pixelated-image {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
