@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* 深色背景 */
  color: white;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}